@font-face {
    font-family: "frutigerlight_cn";
    src: url('15743_FTLC__2.ttf') format('truetype');
}
/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    font-family: frutigerlight_cn;
    vertical-align:baseline
}  */
body {
    font-family: 'frutigerlight_cn' !important;
}
.xmpler-navbar{
    /* line-height: 2.5 !important; */
}

.navbar-nav > li{
    margin-left:10px;
    margin-right:10px;
    text-transform: uppercase;
    font-weight: 600;
}

.xmpler-heading-text{
    /* text-transform: uppercase; */
    font-weight: bold;
    color:#6a6464;
    font-size: 2rem;
}
.xmpler-heading-text2{
    /* text-transform: uppercase; */
    font-weight: bold;
    color:#6a6464;
    font-size: 1rem;
}
input{
    background: transparent;
   
}
.container-fluid{
    padding-top: 80px;
    padding-bottom: 40px;
}

/* .container-fluid-image{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 100px;
} */

.container-intro{
    /* min-height: 50vh; */
}

.bx-wrapper {
    width: 100% !important;
    max-width: 100% !important;
    margin-top: 20px;
    /* border: 10px solid white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); */
}

.bx-wrapper .bx-viewport {
    height: 189px !important;
}
.bx-wrapper li {
    margin-top: -16px !important;
}

hr.style5 {
    background: transparent url("../images/Asset 1.png") no-repeat center center;
    border:0;
    height:2px;
    width:20rem;
    margin-bottom: 80px;
}

hr.style6 {
    background: transparent url("../images/Asset 1.png") no-repeat center center;
    border:0;
    height:2px;
    width:20rem; 
}


.special-margin{
    margin-top:3rem;
}

.text-bold-blue{
    color:#218DCC;
    font-weight: bold;
    text-transform: uppercase;
}

.container-border-shadow {
    
}
 
.navbar {
    -webkit-box-shadow: 0 4px 6px -6px #999;
    -moz-box-shadow: 0 4px 6px -6px #999;
    box-shadow: 0 4px 6px -6px #999;
    font-size: 16px;
}
.navbar .navbar-brand img {
    height: 120px;
}

.cardB {
    border-radius: 2px;
    display: inline-block;
 
 
    position: relative;
    width: 100%;
  }
  
  .cardB-1 {
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .main-text{
      font-weight: bold;
      color:#6a6464;
      font-size: 3rem;
  }
  .main-subtext{
    color:#6a6464;
    font-size: 1.2rem;
    }

    .subtext{
        color:#6a6464;
        font-size: 1.1rem;
    }

    .products-container{
        width:133px;
        height:46px;
        margin-bottom:20px;
    }

    .navbar-light .navbar-nav .active > .nav-link{
        color:#01A9A0 !important;
    }

    .downImg {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
    }

    .btn-primary:hover{
        color: #01A9A0;
        background-color: transparent;
        border-color: #01A9A0;
    }
    .btn-primary {
        color: #fff;
        background-color: #01A9A0;
        background-image: none;
        border-color: #01A9A0;
    }

    .form-control {
        outline: 0;
        border-width: 0 0 2px 0;
        border-color: #6A6464;
        background-color: #fff0;
      }
      .form-control:focus{
        box-shadow: 0 0 0 0 !important;
        border-color: #01A9A0;
      }
      .apadding{
        padding:1px !important;
        color: #01A9A0 !important;
      }

      .copyright{
          font-size: 12px;
      }

    .rounded {
        border-radius: 50% !important;
    }

      /*\
 * Restore Bootstrap 3 "hidden" utility classes.
\*/

/* Breakpoint XS */
@media (max-width: 575px)
{
    .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down, 
    .hidden-xs-up, 
    .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }

}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px)
{
    .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down, 
    .hidden-xs-up, .hidden-sm-up, 
    .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    } 
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px)
{
    .hidden-md-down, .hidden-lg-down, .hidden-xl-down, 
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, 
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    } 
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px)
{
    .hidden-lg-down, .hidden-xl-down, 
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, 
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl
    {
        display: none !important;
    } 
}

/* Breakpoint XL */
@media (min-width: 1200px)
{
    .hidden-xl-down, 
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up, 
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg
    {
        display: none !important;
    } 
}


@media (max-width: 992px) {
    .special-margin-smaller{
        margin-top:3rem;
    }
    .main-text{
        font-weight: bold;
        color:#6a6464;
        font-size: 2rem;
        text-align: center;
        padding-top: 20px;
    }
    .container-fluid {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    hr.style5 {
        margin-bottom: 10px !important;
    }
    .xmpler-heading-text{
        /* text-transform: uppercase; */
        font-weight: bold;
        color:#6a6464;
        font-size: 2rem;
    }
    .navbar .navbar-brand img {
        height: 50px;
    }
}
@media (min-width: 768px) {
    .logo-push{
        margin-left:18rem;
    }
    

}

 